h1{
    text-align: center;
    color: blueviolet;
    text-decoration: wavy;
}
body{
background-image: url("images3.jpeg")  ;
background-size: 20cm;
width: 300px;
height: 300px;
}
p{
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color: yellow;
    text-decoration: none;
    
}
a:hover{
    color: aqua;
    font-size: 0.7cm;
    text-decoration: wavy;
}
a:active{
color: brown;
text-decoration: dashed;
}
a:visited{
    color: chocolate;
    text-decoration: solid;
}